body {
    background-color: rgb(230, 230, 230)
}

img {
    width: 100%;
}

button {
    border-radius: 5px;
    font-size: 20px;
}

.title {
    color: rgb(235, 233, 233);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main:focus {
    outline: none;
}

*/ .white {
    color: white;
}

#functionality {
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

h1,
h4 {
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(71, 71, 71, 0.562);
    display: inline-block
}

#options-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(71, 71, 71, 0.562);
    color: white;
}

#options-container select {
    color: black;
}

#wave-img {
    flex: 0 2 75%;
    width: 100%;
    background-size: contain;
}

#waveform {
    flex: 0 1 25%;
}

.sine {
    background-image: url("../images/sine.jpg");
}

.square {
    background-image: url("../images/square.jpg");
}

.triangle {
    background-image: url("../images/triangle.jpg");
}

.sawtooth {
    background-image: url("../images/sawtooth.jpg");
}

#keyboard {
    display: flex;
    position: relative;
    height: 16rem;
    width: 32rem;
    margin: 20px auto;
}

.hidden {
    visibility: hidden;
}

#regulars {
    position: absolute;
    display: flex;
}

#sharps {
    position: absolute;
    display: flex;
    left: 1rem;
    z-index: 1;
}

.sharp-note {
    height: 9rem;
    width: 2.5rem;
    margin-left: 1.5rem;
    background-color: black;
    color: black;
}

.fake-sharp-note {
    width: 4rem;
    height: 7rem;
    visibility: hidden;
}

.regular-note {
    height: 15rem;
    width: 4rem;
    background-color: white;
    color: black;
    padding-top: 25%;
    font-weight: bold;
}

.active {
    background-color: red;
}

#body {
    height: 100vh;
    transition: background-color 0.5s ease-in-out;
    width: 100%;
}

.orange {
    background-color: rgb(139, 51, 66);
}

.blue {
    background-color: darkblue;
}

.grey {
    background-color: rgb(1, 100, 1);
}

.table-container {
    display: flex;
    margin-top: 10px;
}

#machine-table {
    border: 1px solid #ddd;
    width: 400px;
    height: 400px;
    background-color: white;
}

#options-table {
    border: 1px solid #ddd;
    width: 400px;
    height: 100px;
    background-color: rgb(39, 39, 39);
}

.fourth {
    background-color: rgb(240, 238, 238);
}

#options-table .fourth {
    background-color: rgb(88, 87, 87);
}

.active-note,
.active-option {
    background-color: rgb(138, 137, 177)
}

.beat {
    background-color: rgb(112, 109, 109);
}

.table-labels {
    background-color: rgba(201, 200, 200, 0.562);
    border-radius: 5px;
    padding-left: 0px;
    font-size: small;
}

td {
    border: 1px solid lightgray;
    width: 5%;
    transition: background-color 0.2s ease;
}

li {
    list-style: none;
    margin: 10px;
    border: 1px solid rgb(109, 107, 107);
}

.button-container {
    display: inline-block;
    margin-bottom: 20px;
}

#sequencer-btns {
    margin-bottom: 20px;
}

.sequence-table {
    margin-left: 30px;
}

.option-slider {
    -webkit-appearance: slider-vertical;
}

#option-sliders {
    display: flex;
    border-radius: 3px;
    background-color: rgba(71, 71, 71, 0.562);
    width: 75%;
    margin: auto;
}

#option-sliders div {
    padding: 0 3rem;
    color: white;
    background-color: rgba(71, 71, 71, 0.562);
    border-radius: 3px;
    width: 20%
}

#option-sliders label {
    margin: 10px auto
}

#option-sliders div select {
    color: black;
}

#sequencer-main {
    text-align: center;
}

#machine {
    display: inline-block;
}

#login-btn {
    width: 15%;
}