button {
    border-radius: 5px;
    font-size: 20px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#functionality {
    width: 100%;
}

#waveform-container {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#wave-img {
    flex: 0 2 75%;
    height: 115px;
    background-size: contain;
}

#waveform {
    flex: 0 1 25%;
}

.sine {
    background-image: url("../images/sine.jpg");
}

.square {
    background-image: url("../images/square.jpg");
}

.triangle {
    background-image: url("../images/triangle.jpg");
}

.sawtooth {
    background-image: url("../images/sawtooth.jpg");
}

#keyboard {
    display: flex;
    position: relative;
    height: 16rem;
    margin: 20px;
}

.hidden {
    visibility: hidden;
}

#regulars {
    position: absolute;
    display: flex;
}

#sharps {
    position: absolute;
    display: flex;
    left: 1rem;
    z-index: 1;
}

.sharp-note {
    height: 9rem;
    width: 2.5rem;
    margin-left: 1.5rem;
    background-color: black;
    color: black;
}

.fake-sharp-note {
    width: 4rem;
    height: 7rem;
    visibility: hidden;
}

.regular-note {
    height: 15rem;
    width: 4rem;
    background-color: white;
    color: black;
    padding-top: 25%;
    font-weight: bold;
}

.active {
    background-color: red;
}

#body {
    height: 100vh;
    transition: background-color 0.5s ease-in-out;
}

.orange {
    background-color: darkorange;
}

.blue {
    background-color: darkblue;
}

.grey {
    background-color: green;
}

#machine-table {
    margin: 20px;
    border: 1px solid #ddd;
    width: 400px;
    height: 400px;
    background-color: white;
}

td {
    border: 1px solid lightgray;
}

.fourth {
    background-color: rgb(240, 238, 238);
}